h2 Add Appointment for #{date.day}

form(method='POST', action='/dates')
  p
    label(for='date') Date:
    input(type='date', id='date', name='date', value=date.date, required)
  
  p
    label(for='time') Time:
    input(type='time', id='time', name='time', value=date.time, required)
  
  p
    label(for='location') Location:
    input(type='text', id='location', name='location', value=date.location, required)
  
  p
    label(for='agenda') Agenda:
    textarea(id='agenda', name='agenda', required) #{date.agenda}
  
  button(type='submit') Add Appointment
